* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #3e3f40;
    font-family: "Open Sans", sans-serif;
}

.label {
    border: 2px solid black;
    margin: 20px auto;
    padding: 0 7px;
    width: 270px;
}

header h1 {
    margin: -4px 0;
    text-align: center;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}

p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.bold {
    font-weight: 800;
}

.large {
    height: 10px;
}

.large, .medium {
    background-color: black;
    border: 0;
}

.calories-info {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.calories-info h2 {
    margin: 0;
}

.left-container p {
    font-size: 2em;
    font-weight: 700;
    margin: -5px -2px;
}

.small-text {
    font-size: 0.85rem;
}

.calories-info span {
    font-size: 2.4em;
    font-weight: 700;
    margin: -7px -2px;
}

.medium {
    height: 5px;
}

.daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
}

.right {
    justify-content: flex-end;
}

.indent {
    margin-left: 1em;
}

.double-indent {
    margin-left: 2em;
}

.note {
    font-size: 0.6rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
}
