:root {
	--color-accent: #d7af0f;
	--color-black: #0f0f0f;
	--color-black2: #212121;
	--color-white: #fffafa;
}

/* --------------- General Section --------------- */

body {
	background-color: var(--color-black);
	margin: 0;
}

/* --------------- IDs Section --------------- */

#container {
	background-color: var(--color-black2);
}

/* --------------- Styles Section --------------- */

